.topnav {
  text-align: center;
  background-image: linear-gradient(rgb(56, 189, 248), rgb(59, 130, 246));
  border-radius: 10px;
  margin-top: auto;
  
}

h1 {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0px;
  margin-right: 120px;
  }

.SpiritCup {

position: relative;
left: 110px;
top: 240px;
font-weight: 400;
font-size: 20px;
color: yellow;
font-weight:bold;
align-items: center;

}

.my-scores {
  padding: 9px 23px;
  border-radius: 100px;
  background-color: #0318dd;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
  display: inline;
  margin-right: 120px;
}

.my-scores:hover {
  
  cursor: pointer;
  color: #ffffff;
  background-color: #0318dd;
  border-color: #0318dd;
}

.score-1,
.score-2,
.score-3,
.score-4 {

  font-weight: 400;
  line-height: 0;
  padding: 20px 20px;
  font-size: 20px;
  font-family: 'Times New Roman';
  font-style: bold;
  
}

.team-1, .team-2, .team-3, .team-4 {
  font-size: 20px;
}

.Teams {
  
  display: flex;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  justify-content: space-around;
  text-align: center;
  flex:1;

  border-radius:.50rem; 
  font-size: 20px;

  padding: 12px 20px;

  position: relative;
  
  }

.Spirit-Cup { 
  
  display:flex;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  justify-content: space-around;
  text-align: center;
  flex:1;
  align-items: center;

  margin-top: 40px;  
  border-radius:.50rem;
  padding: 12px 20px;
  
}


.team-1, .team-1-spirit {
  color: #e41c1c;
}

.team-2, .team-2-spirit {
  color: #2dcf17;
  
}

.team-3, .team-3-spirit {
  color: #ad00bd;
}

.team-4, .team-4-spirit {
  color: #ffbb00;
}

.button-red1, .button-red2, .button-red3 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;
  
  color:#e41c1c;
  border-color: #e41c1c;
}

.button-green1, .button-green2, .button-green3 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;

  font-weight: 400;
  text-align: center;

  color:#2dcf17;
  border-color:#2dcf17;
}

.button-purple1, .button-purple2, .button-purple3 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;

  color:#ad00bd;
  border-color:#ad00bd;
}

.button-yellow1, .button-yellow2, .button-yellow3 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;

  color:#ffbb00;
  border-color:#ffbb00;
}

.button-red4, .button-red5, .button-red6 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;

  color:#e41c1c;
  border-color: #e41c1c;
}

.button-green4, .button-green5, .button-green6 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;

  color:#2dcf17;
  border-color:#2dcf17;
}

.button-purple4, .button-purple5, .button-purple6 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;

  color:#ad00bd;
  border-color:#ad00bd;
}

.button-yellow4, .button-yellow5, .button-yellow6 {
  border-radius: .50rem;
  padding: 12px 20px;
  font-size: 24px;
  outline: 0;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  text-align: center;

  color:#ffbb00;
  border-color:#ffbb00;
}


.reset-button {
  color: #ffbb00;
  border-color: #ffbb00;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  padding: 16px 24px;
  font-size: 20px;
  border-radius: 0.5rem;
}


/* Comment */


.button:hover, .reset-button:hover {
  cursor: pointer;
  border-color: #ffbb00;
}

.button-red1:hover, .button-red2:hover, .button-red3:hover {
  background-color: #e41c1c;
  cursor: pointer;
  color: #fff;
  border-color: #e41c1c;
   
}

.button-green1:hover, .button-green2:hover, .button-green3:hover {
  background-color: #2dcf17;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  border-color: #2dcf17;
}

.button-purple1:hover, .button-purple2:hover, .button-purple3:hover {
  background-color: #ad00bd;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  border-color: #ad00bd
}

.button-yellow1:hover, .button-yellow2:hover, .button-yellow3:hover {
  background-color: #ffbb00;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  border-color: #ffbb00;
}


.button-red4:hover, .button-red5:hover, .button-red6:hover {
  background-color: #e41c1c;
  cursor: pointer;
  color: #fff;
  border-color: #e41c1c;
}

.button-green4:hover, .button-green5:hover, .button-green6:hover {
  background-color: #2dcf17;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  border-color: #2dcf17;
}

.button-purple4:hover, .button-purple5:hover, .button-purple6:hover {
  background-color: #ad00bd;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  border-color: #ad00bd
}

.button-yellow4:hover, .button-yellow5:hover, .button-yellow6:hover {
  background-color: #ffbb00;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  border-color: #ffbb00;
}


.reset-button:hover {
  background-color: #ffbb00;
  color:#fff;
}

body {
  background-image: linear-gradient(to right, rgb(56, 189, 248), rgb(0, 55, 145));
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .Teams {
    align-items: center;
  }

  .Spirit-Cup {
    align-items: center;
  }

  .SpiritCup {
    
   align-items: center;
    
  }
  .button, .reset-button {
    width: 100%;
  }
}
